$color-neutral-grey-4:rgba(0, 0, 58, 0.04);
$color-neutral-grey-8:rgba(0, 0, 58, 0.08);
$color-neutral-grey-12:rgba(0, 0, 58, 0.12);
$color-neutral-grey-30:rgba(0, 0, 58, 0.3);
$color-neutral-grey-60:rgba(0, 4, 39, 0.6);

$color-neutral-black:rgba(0, 0, 58, 1);

$color-neutral-white-88:rgba(255, 255, 255, 0.88);

$color-orange:#E15F19;
$color-green:#49DFA5;
$color-blue:#46C1EB;
$color-yellow:#EBC700;

$color-brand:rgba(50, 25, 178, 1);
$color-button-brand-hover:linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%), #3219B2;
$color-button-brand-pressed:linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.24) 100%), #3219B2;

$color-background-button-text-primary-normal: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%), #3219B2;
$color-background-button-text-primary-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%), #3219B2;
$color-background-button-text-primary-pressed: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.24) 100%), #3219B2;
$color-background-button-text-primary-disabled: rgba(50, 25, 178, 0.08);

$color-background-button-text-secondary-normal: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%), linear-gradient(0deg, rgba(50, 25, 178, 0.04), rgba(50, 25, 178, 0.04)), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #FFFFFF;
$color-background-button-text-secondary-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%), linear-gradient(0deg, rgba(50, 25, 178, 0.04), rgba(50, 25, 178, 0.04)), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #FFFFFF;
$color-background-button-text-secondary-pressed: linear-gradient(0deg, rgba(0, 0, 58, 0.08), rgba(0, 0, 58, 0.08)), linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(50, 25, 178, 0.04), rgba(50, 25, 178, 0.04)), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #FFFFFF;
$color-background-button-text-secondary-disabled: #F7F8FD;

$color-background-button-text-tertiary-normal: white;
$color-background-button-text-tertiary-hover: $color-neutral-grey-4;
$color-background-button-text-tertiary-pressed: $color-neutral-grey-8;
$color-background-button-text-tertiary-disabled: white;

$color-background-button-icon-small-normal: none;
$color-background-button-icon-small-hover: $color-neutral-grey-4;
$color-background-button-icon-small-pressed: $color-neutral-grey-8;
$color-background-button-icon-small-disabled: white;




$shadow-z1:0px 1px 4px rgba(0, 0, 0, 0.16);
$shadow-z2:0px 4px 16px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
$shadow-z3:0px 4px 16px rgba(50, 25, 178, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
$shadow-semi-transparent: 0px 0px 8px rgba(0, 0, 0, 0.09);
$shadow-dragged: 0px 8px 24px rgba(0, 0, 0, 0.24);

$shadow-light-btn: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.06), inset 0px 2px 0px rgba(255, 255, 255, 0.32);
$shadow-light-btn-hover: 0px 2px 4px rgba(0, 0, 0, 0.16), inset 0px -1px 0px rgba(0, 0, 0, 0.06), inset 0px 2px 0px rgba(255, 255, 255, 0.32);
$shadow-light-btn-pressed: inset 0px 1px 0px rgba(0, 0, 0, 0.06), inset 0px 1px 0px rgba(255, 255, 255, 0.32);

$shadow-dark-btn: 0px 2px 4px rgba(0, 0, 108, 0.16), inset 0px -1px 0px rgba(0, 0, 0, 0.24), inset 0px 2px 0px rgba(255, 255, 255, 0.16);
$shadow-dark-btn-hover: 0px 2px 4px rgba(0, 0, 0, 0.16), inset 0px -1px 0px rgba(0, 0, 0, 0.06), inset 0px 2px 0px rgba(255, 255, 255, 0.32);
$shadow-dark-btn-pressed: inset 0px 1px 0px rgba(0, 0, 0, 0.24), inset 0px -1px 0px rgba(255, 255, 255, 0.16);