<template>
  <div class="demo-state">
    <div class="demo-state-title">
      <v-row class="ma-0 pa-0 space-between">
        <v-col class="pa-0">
          <v-img src="/logo_text.svg" class="demo-state-logo"/>
        </v-col>
        <v-col align="right" class="pa-0 my-auto">
          <Badge label="Demo" state="info" />
        </v-col>
      </v-row>
    </div>
    <div class="demo-state-content bar" v-if="datas">
      <DemoStateLine
        label="Publish Laravel demo app"
        subtext=""
        state="success"
      />
      <DemoStateLine
        label="Add a database to the app"
        :subtext="datas.database.output"
        :state="datas.database.status ? 'success' : 'danger'"
      />
      <DemoStateLine
        label="Set Redis as the cache driver"
        :subtext="datas.cache.output"
        :state="datas.cache.status ? 'success' : 'danger'"
      />
      <DemoStateLine
        label="Add worker"
        :subtext="datas.worker.output"
        :state="datas.worker.status ? 'success' : 'danger'"
      />
      <DemoStateLine
        label="Add socket"
        :subtext="datas.socket.output"
        :state="datas.socket.status ? 'success' : 'danger'"
      />
    </div>
    <div class="demo-state-content bar" v-else>
      <Spinner/>
    </div>
    <div class="flex">
      <CustomButton @click="reload" class="mx-auto mt-14" text="Reload" icon="reload"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Options } from 'vue-class-component';
import DemoStateLine from '@/components/Demo/DemoStateLine.vue';
import Badge from '@/components/UIElements/Badge.vue';
import CustomButton from '@/components/UIElements/CustomButton.vue';
import Spinner from '@/components/UIElements/Spinner.vue';
import API from '@/api/wrapper.ts'


@Options({
  components: {
    DemoStateLine,
    Badge,
    CustomButton,
    Spinner
  },
})
export default class DemoState extends Vue {

  datas: any | null = null

  mounted() {
    this.getState()
  }

  getState() {
    API.state.getState().then((datas:any) => {
      this.datas = datas
    })
  }

  reload() {
    window.location.reload()
  }
}
</script>

<style lang="scss" scoped>
.demo-state {
  margin: auto;
  width: 100%;
  .demo-state-title {
    padding-bottom: 24px;
    .demo-state-logo {
      width: 103px;
      height: 40px;
    }
  }

}
</style>


<style lang="scss">
.demo-state {
  .icon-spinner {
    background-color: black;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
</style>

