<template>
  <div class="custom-text-input-container">
    <Icon v-if="icon" class="custom-text-input-icon" :icon="icon"/>
    <input 
      class="custom-text-input" 
      :class="{'has-error': error, 'has-error-fixed': false, 'has-icon': icon, disabled: disabled}"
      :type="type ? type : 'text'" 
      :placeholder="placeholder"
      :value="modelValue"
      @input="handleInput"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Options, prop } from 'vue-class-component';
import Icon from '@/components/UIElements/Icon.vue'

class Props {
  placeholder?: string = prop({
    required: false,
  });
  type?: string = prop({
    required: false,
  });
  error?: string = prop({
    required: false,
  });
  icon?: string = prop({
    required: false,
  });
  disabled?: boolean = prop({
    required: false,
  });
  modelValue?: string = prop({
    required: false,
  });
}


@Options({
  components: {
    Icon,
  },
})
export default class CustomTextInput extends Vue.with(Props) {
  handleInput (event:Event) {
    const target = event.target as HTMLInputElement
    this.$emit('update:modelValue', target?.value)
  }
}
</script>

<style lang="scss" scoped>
@import '@/css/variables';

.custom-text-input-container {
  position: relative;
  .custom-text-input-icon {
    position: absolute;
    top: 21px;
    left: 22px;
  }
  .custom-text-input {
    width: 100%;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: $color-neutral-grey-4;
    border: 1px solid $color-neutral-grey-12;
    border-radius: 8px;
    padding-left:12px;
    padding-right:12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:#00003A;
    &.has-icon {
      padding-left:40px;
    }

    &:hover {
      border: 1px solid $color-neutral-grey-30;
    }
    &:focus {
      outline: none;
      border: 2px solid $color-brand;
      box-shadow: 0px 0px 0px 2px rgba(50, 25, 178, 0.24);
      caret-color: $color-brand;
    }
    &::placeholder { 
      font-weight: 400;
      font-size: 14px; 
      color: $color-neutral-grey-60;
    }

    &.has-error {
      border: 1px solid $color-orange;
      &:focus {
        outline: none;
        box-shadow: inset 0px -2px 0px $color-orange ;
      }
    }

    &.has-error-fixed {
      border: 1px solid $color-green;
      &:focus {
        outline: none;
        box-shadow: inset 0px -2px 0px $color-green ;
      }
    }
    &.disabled {
      background: none;
      color: $color-neutral-grey-60;
      pointer-events: none;
      border: none;
    }
  }
}

</style>
