<template>
  <div class="list">
    <div 
      class="list-btn-deploy"
      :class="{deployable: deployable}"
      @click="deploy"
    >
      <div class="list-btn-deploy-text">
        {{title}}
      </div>
      <div v-if="deployable" class="list-btn-deploy-icon" :class="{deployed : deployed}">
        <Icon icon="caret-down"/>
      </div>
    </div>
    <div class="list-items" :class="{deployed : deployed}" ref="listItems">
      <list-row v-for="(item,index) of internalItems"
        :key="('list-item-' + title + '-' + index)"
        :selected="item.selected"
        :text="item.text"
        @select="selectItem(item)"
      />
      <slot name="footer"></slot>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, prop, Options } from 'vue-class-component';
import ListRow from '@/components/UIElements/ListRow.vue'
import Icon from '@/components/UIElements/Icon.vue'
import { Ref } from 'vue-property-decorator';

export interface ListItem {
  text?:string;
  selected?:boolean;
  id?:string;
}

class Props {
  items: ListItem[] = prop({
    required: true,
  });
  title: string = prop({
    required: true,
  });
  deployable?: boolean = prop({
    required: false,
  });
}
@Options({
  components: {
    ListRow,
    Icon
  },
})
export default class List extends Vue.with(Props) {
  @Ref('listItems') readonly listItems!: HTMLElement
  deployed = this.deployable ? false : true
  internalItems = JSON.parse(JSON.stringify(this.items))

  selectItem(item:ListItem) {
    this.internalItems.forEach((i:ListItem) => i.selected = false)
    item.selected = true
    this.$emit('select', item)
  }

  deploy() {
    if(this.deployable) {
      if(this.deployed) {
        this.collapse()
      } else {
        this.expand()
      }
    }
  }

  collapse() {
    let sectionHeight = this.listItems.scrollHeight;
    let elementTransition = this.listItems.style.transition;
    this.listItems.style.transition = '';
    requestAnimationFrame(() => {
      this.listItems.style.height = sectionHeight + 'px';
      this.listItems.style.transition = elementTransition;
      requestAnimationFrame(() => {
        this.listItems.style.height = 0 + 'px';
      });
    });
    this.deployed = false
  }

  expand() {
    let sectionHeight = this.listItems.scrollHeight;
    this.listItems.style.height = sectionHeight + 'px';
    const handleEventEnd = () => {
      this.listItems.removeEventListener('transitionend', handleEventEnd);
      this.listItems.style.height = 'auto';
    };
    this.listItems.addEventListener('transitionend', handleEventEnd)
    
    this.deployed = true
  }
}



</script>

<style lang="scss" scoped>
@import '@/css/variables';
.list {
  min-height: 40px;
  .list-btn-deploy {
    width: 100%;
    overflow: hidden;
    padding: 0;
    justify-content: flex-start;
    display: flex;
    height: 40px;
    font-weight: 450;
    font-size: 12px;
    line-height: 20px;

    &.deployable {
      cursor: pointer;
    }

    &:hover {
      .list-btn-deploy-icon {
        background: $color-background-button-text-tertiary-hover;
      }
    }
    &:active {
      .list-btn-deploy-icon {
        background: $color-background-button-text-tertiary-pressed;
      }
    }
    .list-btn-deploy-text {
      margin-top:auto;
      margin-bottom:auto;
      margin-left: 16px;
    }
    .list-btn-deploy-icon {
      display: flex;
      border-radius: 8px;
      width: 24px;
      height: 24px;
      margin-top:auto;
      margin-bottom:auto;
      margin-left: auto;
      margin-right:12px;
      transition: transform 0.2s ease-in-out;
      &.deployed {
        transform: rotate(-180deg);
      }
    }
  }

  .list-items {
    height: 0px;
    width: 100%;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
    opacity: 0;
    &.deployed {
      height: auto;
      opacity: 1;
      padding-top: 8px;
    }
  }
}
</style>
